* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: url("https://images.unsplash.com/photo-1509023464722-18d996393ca8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}


/* Flexcard container */
.flexcard-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

/* Flexcard */
.flexcard {
  flex: 1;
  margin: 10px;
  padding: 20px;
  background-color: #f1f1f1;
  box-shadow: 2px 2px 5px #ccc;
  border-radius: 5px;
  transition: transform 0.2s;
}

/* Flexcard hover effect */
.flexcard:hover {
  transform: scale(1.1);
  cursor: pointer;
}

/* Child flexcard */
.child-flexcard {
  display: none;
  flex: 1;
  margin: 10px;
  padding: 20px;
  background-color: #f1f1f1;
  box-shadow: 2px 2px 5px #ccc;
  border-radius: 5px;
}

/* Show child flexcard on hover */
.flexcard:hover .child-flexcard {
  display: flex;
}
